html{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--back-ground-collor);
    
}
body{
    background-image: url(../images/bg-pattern-top.svg),url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 45vw bottom 50vh, left 48vw top 50vh;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
hr {
    width: 100%;
       
}
.container{
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-color: white;
    width: 350px;
    height: 395px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px   
}
.container h3{
    font-size: 18px;
    font-weight: 700;
}
.container .age, .city{
    font-weight: 300;
    color: var(--second-font-collor);
}
.container .city{
    margin-bottom:15px ;
}

.container img{
    margin-top: 55px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 10px;
    
}

.infos{
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
   margin-top: 10px;
}

.infos p{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.infos-names{
    color: var(--second-font-collor);
    font-weight: 300;
    font-size: 12px;
}